doctype html
html
    head
        title 404
        meta(name='viewport' content='width=profile-width, initial-scale=1, maxinum-scale=1')
        link(type="text/css",rel="stylesheet",href="/css/404.css")
        link(href='http://fonts.useso.com/css?family=Strait')
body
    .wrap
        h1 PeerToPeer
        .banner
            img(src='/images/fuel-404-logo.png')
        .search
            form
                input(type='text', value='', placeholder='输入您的Email')
                input(type='submit' value='')